<div class="text-center mt-5 mx-2 bg-gray-600 rounded-md">
  <h1 class="text-fakegold-400 text-2xl font-black mb-4 font-poppins">
    Editar Plato
  </h1>
</div>
<div class="flex justify-center mt-8 mx-1">
  <form
    (ngSubmit)="updatePlato()"
    class="max-w-md md:mx-auto mt-8 p-6 bg-gray-700 rounded-lg shadow-lg shadow-gray-300 mx-1"
  >
    <div class="my-4">
      <label for="descripcion" class="block text-white text-sm font-bold mb-2"
        >Descripción:</label
      >
      <textarea
        id="descripcion"
        name="descripcion"
        [(ngModel)]="plato.descripcion"
        class="w-full p-2 border rounded-md"
      ></textarea>
    </div>
    <div class="my-4">
      <label for="ingredientes" class="block text-white text-sm font-bold mb-2"
        >Ingredientes:</label
      >
      <textarea
        id="ingredientes"
        name="ingredientes"
        [(ngModel)]="plato.ingredientes"
        class="w-full p-2 border rounded-md"
      ></textarea>
    </div>

    <div class="mb-4">
      <label for="idcategoria" class="block text-sm font-bold mb-2"
        >Categoria:</label
      >
      <select
        id="idcategoria"
        [(ngModel)]="plato.categoria"
        name="idcategoria"
        class="w-full p-2 border rounded-md text-black"
      >
        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
          {{ categoria.descripcion }}
        </option>
      </select>
    </div>

    <div class="my-4">
      <label for="imagen" class="block text-white text-sm font-bold mb-2"
        >Imagen:</label
      >
      <input
        class="block w-full text-sm border rounded-lg cursor-pointer text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400"
        (change)="onChangeImagen($event)"
        id="imagen"
        type="file"
        accept="image/*"
        requireds
      />
    </div>

    <div class="space-x-4">
      <button
        type="submit"
        class="w-32 bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-600"
      >
        Guardar
      </button>
      <button
        type="button"
        class="w-32 bg-gray-500 text-white p-2 rounded-md hover:bg-stone-700"
      >
        <a routerLink="../../">Cerrar</a>
      </button>
    </div>
  </form>
</div>
