<form [formGroup]="formulario" (ngSubmit)="buscarMesasLibres()">
    <label for="cantPersonas">Cantidad de Personas:</label>
    <input type="number" id="cantPersonas" formControlName="cantPersonas">
    <br>
    <label for="fechaHora">Fecha y Hora:</label>
    <input type="datetime-local" id="fechaHora" formControlName="fechaHora">
    <br>
    <label for="ubicacion">Ubicación:</label>
    <input type="text" id="ubicacion" formControlName="ubicacion">
    <br>
    <button type="submit">Buscar Mesas Libres</button>
  </form>
  

  <div *ngIf="mesasDisponibles">
    <h2>Mesas Disponibles:</h2>
    <ul>
      <li *ngFor="let mesa of mesasDisponibles">
        {{ mesa.id }} - {{ mesa.descripcion }}
      </li>
    </ul>
  </div>
  