<app-navbar></app-navbar>
<div class="container mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-4">Editar Cliente</h1>

  <form [formGroup]="editForm" (ngSubmit)="updateCliente()" class="bg-white p-6 rounded-md shadow-md">

    <div class="mb-4">
      <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2 border-b border-gray-300 pb-1">Nombre:</label>
      <input id="nombre"  class="w-1/5" formControlName="nombre" />
    </div>

    <div class="mb-4">
      <label for="apellido" class="block text-gray-700 text-sm font-bold mb-2 border-b border-gray-300 pb-1">Apellido:</label>
      <input id="apellido" class="w-1/5" formControlName="apellido" />
    </div>

    <div class="mb-4">
      <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2 border-b border-gray-300 pb-1">Telefono:</label>
      <input id="telefono" class="w-1/5"  formControlName="telefono" />
    </div>

    <div class="mb-4">
      <label for="mail" class="block text-gray-700 text-sm font-bold mb-2 border-b border-gray-300 pb-1">Correo Electrónico:</label>
      <input id="mail" class="w-1/5" formControlName="mail" />
    </div>
    <div class= "space-x-4">
    <button type="submit" class="w-32 h-full bg-fakegold-500 text-white p-3 rounded-md hover:bg-fakegold-700">Guardar</button>
    <button tyoe="cancel" class="w-32 h-full bg-gray-500 text-white p-3 rounded-md hover:bg-fakegold-700"><a routerLink="../">Cancelar</a></button>
    </div>
  </form>
</div>
