<div class="text-center mt-5 mx-2 bg-gray-600 rounded-md">
    <h1 class="text-fakegold-400 text-2xl font-black mb-4 font-poppins">
      Reseñas
    </h1>
  </div>
  <a routerLink="../">
    <button
      class="bg-stone-600 text-white p-2 rounded-md hover:bg-stone-500 mx-2"
    >
      Volver
    </button>
  </a>
  <div class="container mx-auto mt-2">
    <ul>
      <li
        *ngFor="let resenia of resenias"
        class="mx-1 mb-4 p-4 bg-gray-700 shadow-lg shadow-gray-400 rounded-md border border-gray-200"
      >
        <p class="text-white text-lg font-bold">Puntaje: {{ resenia.puntaje }}</p>
        <p class="text-gray-200">
          Cliente: {{ resenia.Cliente.nombre }} {{ resenia.Cliente.apellido }}
        </p>
        <p class="text-gray-200">{{ resenia.comentario }}</p>
        <div class="flex align-bottom space-x-4 mt-2">
            <button
            (click)="deleteResenia(resenia.id)"
            class="mr-2 text-red-600 text-sm font-bold px-4 py-1 rounded border border-red-600 hover:bg-red-500 hover:text-white focus:ring focus:ring-red-300"
        >
            Borrar
        </button>
        </div>
      </li>
    </ul>
  </div>
  
