<div class="text-center mt-5 mx-2 bg-gray-600 rounded-md">
  <h1 class="text-fakegold-400 text-2xl font-black mb-4 font-poppins">
    Categorías
  </h1>
</div>
<div class="container mx-auto my-8">
  <div *ngIf="crear">
    <form
      [formGroup]="createForm"
      (ngSubmit)="addCategoria()"
      class="max-w-md mx-auto mt-8 p-6 bg-gray-700 rounded-lg shadow-md shadow-gray-400 text-white"
    >
      <div class="pb-1 border-b border-b-gray-400">
        <h1
          class="text-fakegold-100 text-center text-3xl font-poppins font-medium"
        >
          Nueva categoría
        </h1>
      </div>
      <div class="mb-4 mt-2">
        <label for="descripcion" class="block text-sm font-bold mb-2"
          >Descripcion</label
        >
        <input
          type="text"
          id="descripcion"
          name="descripcion"
          formControlName="descripcion"
          class="w-full p-2 border rounded-md"
        />
      </div>
      <div class="flex justify-center md:justify-between mt-5">
        <button
          type="submit"
          class="w-full bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-600 mx-1"
        >
          Agregar
        </button>
        <button
          (click)="crear = !crear"
          class="md:w-1/4 bg-stone-600 text-white p-2 rounded-md hover:bg-gray-600 mx-1"
        >
          Cerrar
        </button>
      </div>
    </form>
  </div>

  <div class="mt-8">
    <div class="flex justify-start mx-2 md:ml-64 my-4">
      <button
        (click)="crear = !crear"
        class="bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-600 mx-2"
      >
        Crear categoria
      </button>
      <a routerLink="../"
        ><button
          class="bg-stone-600 text-white p-2 rounded-md hover:bg-stone-700 mx-2"
        >
          Volver
        </button></a
      >
    </div>
    <div class="mt-4 flex flex-wrap -mx-2">
      <div
        *ngFor="let categoria of categorias"
        class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 mb-4"
      >
        <div
          class="bg-gray-700 p-4 text-white rounded-md shadow-lg shadow-gray-300"
        >
          <p class="font-bold text-fakegold-200">ID: {{ categoria.id }}</p>
          <p>Descripcion: {{ categoria.descripcion }}</p>
          <button
            (click)="borrarCategoria(categoria.id)"
            class="mt-2 text-red-600 text-sm font-bold px-4 py-1 rounded border border-red-600 hover:bg-red-500 hover:text-white focus:ring focus:ring-red-300"
          >
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
