<div class="reservations">
  <h3 class="text-lg font-semibold mb-4">Mis Reservas</h3>

  <table class="min-w-full border border-gray-200">
    <thead>
      <tr>
        <th class="border-b">Fecha</th>
        <th class="border-b">Restaurante</th>
        <th class="border-b"></th>
        <!-- Para el botón de ver detalles -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td class="border-b px-4 py-2">{{ reservation.fechaHora }}</td>
        <td class="border-b px-4 py-2">{{ reservation.estado }}</td>
        <td class="border-b px-4 py-2">
          <a
            [routerLink]="['/reserva', reservation.id]"
            class="text-blue-500 hover:underline"
            >Ver Detalles</a
          >
        </td>
        <td
          class="border-b px-4 py-2"
          *ngIf="reservation.status === 'pendiente'"
        >
          <button
            (click)="cancelReservation(reservation.id)"
            class="bg-red-500 text-white px-2 py-1 rounded"
          >
            Cancelar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
