<div class="reservations">
  <div class="text-center mt-5 mx-2 bg-gray-600 rounded-md">
    <h1 class="text-fakegold-400 text-2xl font-black mb-4 font-poppins">
      Mis reservas
    </h1>
  </div>

  <div class="overflow-x-auto align-middle md:flex md:justify-center">
    <table
      class="border border-gray-500 bg-gray-700 rounded-lg overflow-hidden shadow-lg shadow-gray-400 mx-2 mb-4 md:mx-5"
    >
      <thead>
        <tr>
          <th
            class="border-b px-8 py-3 bg-gray-900 text-left text-xs font-medium text-fakegold-400 uppercase tracking-wider"
          >
            Fecha Y Hora
          </th>
          <th
            class="border-b px-8 py-3 bg-gray-900 text-left text-xs font-medium text-fakegold-400 uppercase tracking-wider"
          >
            Estado
          </th>
          <th class="border-b px-8 py-3 bg-gray-900"></th>
          <!-- Para el botón de ver detalles -->
          <th class="border-b px-8 py-3 bg-gray-900"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of reservas">
          <td class="text-white border-b px-8 py-4">
            {{ reserva.fechaHora | date : "dd/MM/yyyy HH:mm" }}
          </td>
          <td class="text-white border-b px-8 py-4">
            {{ reserva.estado }}
          </td>
          <td class="border-b px-8 py-4 whitespace-no-wrap">
            <button
              class="text-fakegold-400 text-sm font-semibold px-4 py-1 border border-fakegold-600 sm:block text-center rounded hover:bg-fakegold-500 hover:text-white focus:ring focus:ring-fakegold-300"
            >
              <a [routerLink]="['/reservas', reserva.id]">Ver Detalles</a>
            </button>
          </td>
          <td class="border-b px-8 py-4 whitespace-no-wrap">
            <button
              (click)="cancelarReserva(reserva.id)"
              class="text-red-600 text-sm font-bold px-4 py-1 rounded border border-red-600 hover:bg-red-500 hover:text-white focus:ring focus:ring-red-300"
              *ngIf="reserva.estado === 'Pendiente'"
            >
              Cancelar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
