<app-navbar></app-navbar>
<h1>Clientes</h1>
<div *ngIf="crear">
    <form [formGroup]="createForm" (ngSubmit)="addCliente()" class="max-w-md mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">

        <div class="mb-4">
          <label for="dni" class="block text-gray-700 text-sm font-bold mb-2">DNI:</label>
          <input type="text" id="dni" formControlName="dni" class="w-full p-2 border rounded-md" required>
        </div>

        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña:</label>
            <input type="password" id="password" formControlName="password" class="w-full p-2 border rounded-md" required>
        </div>
      
        <div class="mb-4">
          <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
          <input type="text" id="nombre" formControlName="nombre" class="w-full p-2 border rounded-md" required>
        </div>
      
        <div class="mb-4">
          <label for="apellido" class="block text-gray-700 text-sm font-bold mb-2">Apellido:</label>
          <input type="text" id="apellido" formControlName="apellido" class="w-full p-2 border rounded-md" required>
        </div>
      
        <div class="mb-4">
          <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2">Teléfono:</label>
          <input type="tel" id="telefono" formControlName="telefono" class="w-full p-2 border rounded-md" required>
        </div>
      
        <div class="mb-4">
          <label for="mail" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico:</label>
          <input type="email" id="mail" formControlName="mail" class="w-full p-2 border rounded-md" required>
        </div>
            
        <button type="submit" class="w-full bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-700">Registrar</button>
        <button (click)="crear = !crear" class="bg-gray-500 text-white p-2 rounded-md hover:bg-gray-600 mt-4">Cerrar</button>
      </form>
      
</div>
<div class="container mx-auto my-8">
  <button (click)="crear = !crear" class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">Crear cliente</button>

  <ul class="mt-4">
      <li *ngFor="let cliente of clientes" class="bg-white p-6 rounded-md shadow-md mb-4">
          <span class="font-bold">{{ cliente.id }}</span> - Tipo: {{ cliente.tipo }} - DNI: {{ cliente.dni }} - Nombre: {{ cliente.nombre }} {{ cliente.apellido }}
          Teléfono: {{ cliente.telefono }} - Email: {{ cliente.mail }}
          <button (click)="deleteCliente(cliente.id)" class="bg-red-500 text-white p-2 rounded-md hover:bg-red-600 ml-2">Borrar cliente</button>
      </li>
  </ul>

  <button (click)="redirect()" class="bg-gray-500 text-white p-2 rounded-md hover:bg-gray-600 mt-4">Volver</button>
</div>