<app-navbar></app-navbar>
<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">Detalles del Cliente</h1>
    
    <div class="bg-white p-6 rounded-md shadow-md">
      <p><strong>DNI:</strong> {{ cliente.data.dni }}</p>
      <p><strong>Nombre:</strong> {{ cliente.data.nombre }}</p>
      <p><strong>Apellido:</strong> {{ cliente.data.apellido }}</p>
      <p><strong>Telefono:</strong> {{cliente.data.telefono}}</p>
      <p><strong>Correo Electrónico:</strong> {{ cliente.data.mail }}</p>
      <p><a routerLink="edit"><button class="w-32 bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-700">Editar datos</button></a> </p>
    </div>
  </div>