<div class="text-center mt-8">
  <h1 class="text-3xl font-bold mb-4">Menu Admin</h1>
  <ul class="space-y-2">
      <li>
          <button (click)="redirect('clientes')" class="w-32 bg-fakegold-500 text-white p-1 rounded-md hover:bg-fakegold-700">Clientes</button>
      </li>
      <li>
          <button (click)="redirect('mesas')" class="w-32 bg-fakegold-500 text-white p-1 rounded-md hover:bg-fakegold-700">Mesas</button>
      </li>
      <li>
          <button (click)="redirect('reservas')" class="w-32 bg-fakegold-500 text-white p-1 rounded-md hover:bg-fakegold-700">Reservas</button>
      </li>
      <li>
          <button (click)="redirect('platos')" class="w-32 bg-fakegold-500 text-white p-1 rounded-md hover:bg-fakegold-700">Platos</button>
      </li>
  </ul>
</div>
