<app-navbar></app-navbar>
<div class="text-center mt-5 mx-2 bg-gray-600 rounded-md">
  <h1 class="text-fakegold-400 text-3xl font-bold mb-4">Platos</h1>
</div>

<div *ngIf="crearPlato">
  <form
    (ngSubmit)="submitPlato()"
    class="max-w-md mx-auto mt-8 p-6 bg-gray-700 rounded-lg shadow-md shadow-gray-400 text-white"
  >
    <div class="mb-4">
      <label for="descripcion" class="block text-sm font-bold mb-2"
        >Descripción del plato:</label
      >
      <textarea
        id="descripcion"
        name="descripcion"
        [(ngModel)]="plato.descripcion"
        class="w-full p-2 border rounded-md"
      ></textarea>
    </div>

    <div class="mb-4">
      <label
        for="ingredientes"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Ingredientes:</label
      >
      <textarea
        id="ingredientes"
        name="ingredientes"
        [(ngModel)]="plato.ingredientes"
        class="w-full p-2 border rounded-md"
      ></textarea>
    </div>

    <div class="mb-4">
      <label
        for="idcategoria"
        class="block text-gray-700 text-sm font-bold mb-2"
        >Categoria:</label>
        <select id="idcategoria" [(ngModel)]="plato.categoria" name="idcategoria" class="w-full p-2 border rounded-md text-black">
          <option *ngFor="let categoria of categorias" [ngValue]="categoria.id" >
            {{categoria.descripcion}}
          </option>
        </select>
    </div>

    <div class="mb-4">
      <label for="imagen" class="block text-sm font-bold mb-2"
        >Imagen:</label
      >
      <input
        type="file"
        id="imagen"
        class="w-full p-2 border rounded-md"
        (change)="onChangeImagen($event)"
        accept="image/*"
        requireds
      />
    </div>

    <button
      type="submit"
      class="w-full bg-fakegold-500 text-white p-2 rounded-md hover:bg-fakegold-700"
    >
      Guardar
    </button>
    <button
      (click)="crearPlato = !crearPlato"
      class="bg-stone-600 text-white p-2 rounded-md hover:bg-gray-600 mt-4"
    >
      Cerrar
    </button>
  </form>
</div>

<div class="container mx-auto my-8 space-y-4">
  <button
    *ngIf="!crearPlato"
    (click)="crearPlato = !crearPlato"
    class="bg-fakegold-500 font-medium text-white py-2 px-5 rounded-md hover:bg-fakegold-700"
  >
    Crear plato
  </button>
  
  <div>
    <label for="categoria">Seleccionar categoria:</label>
    <select id="categoria" (change)="onCategoriaChange()" [(ngModel)]="selectedCategoria">
      <option [ngValue]="null" [selected]="selectedCategoria === null">Todas las categorias</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
        {{categoria.descripcion}}
      </option>
    </select>
  </div>

  <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <li
      *ngFor="let plato of platos"
      class="bg-gray-700 p-6 rounded-md shadow-md shadow-gray-400 mb-4 text-fakegold-100"
    >
      <p class="text-white text-lg font-bold mb-2">Plato {{ plato.id }}</p>
      <p>Descripcion: {{ plato.descripcion }}</p>
      <p>Ingredientes: {{ plato.ingredientes }}</p>
      <div class="space-x-4 mt-2">
        <button
          (click)="redirect(plato.id)"
          class="mr-2 text-fakegold-600 text-sm font-bold px-4 py-1 rounded border border-fakegold-600 hover:bg-fakegold-500 hover:text-white focus:ring focus:ring-fakegold-300"
        >
          Editar
        </button>
        <button
          (click)="deletePlato(plato.id)"
          class="mr-2 text-red-600 text-sm font-bold px-4 py-1 rounded border border-red-600 hover:bg-red-500 hover:text-white focus:ring focus:ring-red-300"
        >
          Borrar
        </button>
      </div>
    </li>
  </ul>
</div>
