<app-navbar></app-navbar>
<div class="container mx-auto my-8">
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <li *ngFor="let reserva of reservas" class="bg-white p-6 rounded-md shadow-md mb-4">
            <p class="text-lg font-bold mb-2">Reserva {{ reserva.id }}</p>
            <p>Fecha y Hora: {{ reserva.fechaHora }}</p>
            <p>Cantidad de Personas: {{ reserva.cantidadPersonas }}</p>
            <p>Estado: {{ reserva.estado }}</p>
            <p>ID de Cliente: {{ reserva.idCliente }}</p>
            <div class="space-x-4">
                <button *ngIf="reserva.estado !== 'Completa'" (click)="completarReserva(reserva.id)" class="bg-green-500 text-white p-2 rounded-md hover:bg-green-600">Completar</button>
                <button *ngIf="reserva.estado !== 'Cancelada'" (click)="cancelarReserva(reserva.id)" class="mr-2 bg-red-500 text-white p-2 rounded-md hover:bg-red-600">Cancelar</button>
            </div>
        </li>
    </ul>
    <div class="space-x-4">
        <button *ngIf="!pendientes" (click)="verPendientes(); pendientes = !pendientes" class="bg-fakegold-600 text-white p-2 rounded-md hover:bg-fakegold-700">Ver pendientes</button>
        <button *ngIf="pendientes" (click)="cargarReservas(); pendientes = !pendientes" class="bg-fakegold-600 text-white p-2 rounded-md hover:bg-fakegold-700">Ver todas</button>
        <button (click)="redirect()" class="bg-stone-600 text-white p-2 rounded-md hover:bg-stone-600 mt-4">Volver</button>
    </div>
</div>

